DATABASE_URL="file:./dev.db"
GITHUB_ID="your-github-id"
GITHUB_SECRET="your-github-secret"
NEXTAUTH_SECRET="your-nextauth-secret"
GOOGLE_CLIENT_ID=your-google-client-id
GOOGLE_CLIENT_SECRET=your-google-client-secret
NEXTAUTH_URL="http://localhost:3000"
ADMIN_EMAILS="youremail1@gmail.com,youremail2@gmail.com"